

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Date and Time</th>
      <th>Barber</th>
      <th>Color</th>
    </tr>
  </thead>
<tbody>
  <% @results.each do |row| %>
    <tr>
      <td><%= row['user_name'] %></td>
      <td><%= row['user_phone'] %></td>
      <td><%= row['date_stamp'] %></td>
      <td><%= row['barber'] %></td>
      <td><%= row['color'] %></td>
    </tr>
  <% end %>
</tbody>
</table>
