

<table class="table">

  <% @results.each do |row| %>
    <tr>
      <td><%= row['user_name'] %></td>
      <td><%= row['user_phone'] %></td>
      <td><%= row['date_stamp'] %></td>
      <td><%= row['barber'] %></td>
      <td><%= row['color'] %></td>
    </tr>

  <% end %>

</table>
